body{
    background-color:blanchedalmond;
    text-align:center;
}

main{
    text-align:left;
    margin-left:15%;
    margin-right:15%;
}

h1{
    color:seagreen;
    font-family:Helvetica
}

h2{
    text-align:center;
}

header, main, footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color:coral;
}

a:hover{
    color:brown;
    text-decoration:none;
}