body{
    background-color:blanchedalmond;
    text-align:center;
    max-width:1200px;
    margin:0 auto;
    width:90%;
}

main{
    text-align:left;
}

h1{
    color:seagreen;
    font-family:Helvetica;
    /*-webkit-text-stroke-color:black;*/
}

h2{
    text-align:center;
}

header, main, footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color:coral;
}

a:hover{
    color:brown;
    text-decoration:none;
}

img{
    width:40%;
}

figure{
    text-align:center;
    font-style:italic;
}

.indent{
    margin-left:40px;
}

footer{
    padding-top:150px;
}

.impact{
    font-family: 'Segoe UI';
    color:goldenrod;
}