/*
#191716 earier black
#387D7A myrtle green
#E0E2DB alabaster
#A98743 dark goldenrod
#BEB7A4 khaki
*/

body{
    text-align:center;
    font-size:x-large;
    margin-left:10%;
    margin-right:10%;
}

footer p{
    color:orange;
}