<footer>
    <p class="impact"><i>Building up since day one.</i></p>
    <nav>
        <a href="https://webpages.uncc.edu/jlagle1/">Charlotte.edu</a> ||
        <a href="https://github.com/jlagle/jlagle.github.io">Github</a> ||
        <a href="https://jlagle.github.io/">Github.io</a> ||
        <a href="https://jlagle.github.io/itis3135/">ITIS3135.io</a> ||
        <a href="https://www.freecodecamp.org/jlagle">freeCodeCamp</a> ||
        <a href="https://www.codecademy.com/profiles/jlagle">Codecademy</a> ||
        <a href="https://www.linkedin.com/in/jakob-lagle/">LinkedIn</a>
    </nav>
    <p>Page built by <a href="lagle.co/">Lagle &amp; Co.</a> &copy;2025, <em>Certified in <a href="https://www.freecodecamp.org/certification/jlagle/responsive-web-design">Responsive Web Design</a></em></p>
</footer>