<header>
    <h1>Jakob Lagle ITIS-3135</h1>
    <nav>
        <a href="./">Home</a> ||
        <a href="introduction.html">Introduction</a> ||
        <a href="contract.html">Contract</a> ||
        <a href="website_evaluations.html">Website Evaluation</a> ||
        <a href="tables.html">Tables</a>
    </nav>
    <nav id="navSubtext">
        <a href="jumpylemur.com/">Whimsical Company</a> &#x2022;
        <a href="stuff/№CRAPp Y.htm">CRAP Website</a> &#x2022;
        <a href="lagle.co/">Design Firm</a> &#x2022;
        <a href="hobby/">Photography Hobby</a>
    </nav>
</header>